@using Shared.DataTransferObjects
@using Client.Services
@using Shared.Services
@inject ImagesService ImagesService
@inject IAlquilerService AlquilerService

@if (idUsuario != null && idUsuario != "")
{
    <a id="btnAlquileres" href="@($"/alquilerByAlojamiento/{alojamiento.Id}")"
       class="btn btn-primary">Ver Alquileres</a>
}

<div class="card mb-3">
    <NavLink href="@url" class="text-decoration-none" style="color: inherit;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="@(image == "" ? "https://img.freepik.com/vector-gratis/dibujo-casa-aislada_23-2147502091.jpg?size=626&ext=jpg" : image)"
                     alt="Imagen del alojamiento" class="img-fluid rounded-start" />
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h5 class="card-title">@alojamiento.Titulo</h5>

                        @if (idUsuario != null && idUsuario != "")
                        {
                            <p class="card-text"><small class="text-body-secondary">@count @(count == 1 ? "vez" : "veces") alquilada.</small></p>
                        }
                    </div>

                    <hr />

                    <small class="text-body-secondary text-decoration-underline">Descripción</small>
                    <p class="card-text" style="white-space: pre-line;">@(alojamiento.Descripcion)...</p>

                    <small class="text-body-secondary text-decoration-underline">Dormitorios</small>
                    <p class="card-text">@alojamiento.NumeroHabitaciones</p>

                    <small class="text-body-secondary text-decoration-underline">Capacidad</small>
                    <p class="card-text">@alojamiento.CapacidadInvitados</p>

                    <small class="text-body-secondary text-decoration-underline">Ubicación</small>
                    <p class="card-text">@alojamiento.NombreComunidad</p>

                    <div class="d-flex justify-content-between">
                        <p class="card-text"><small class="text-body-secondary">Publicada en @alojamiento.FechaPublicacion.ToShortDateString()</small></p>

                        <button type="button" class="btn btn-success">@alojamiento.PrecioNoche € / noche</button>
                    </div>


                </div>
            </div>
        </div>
    </NavLink>
</div>

@code {
    [Parameter]
    public AlojamientoDto alojamiento { get; set; } = new AlojamientoDto();
    private string image = "";

    [Parameter]
    public string? idUsuario { get; set; }

    [Parameter]
    public string? url { get; set; } = "#";

    private int count = 0;

    protected override async Task OnInitializedAsync()
    {
        var result = await ImagesService.GetImages("alojamientos", alojamiento.Id.ToString());

        if (result.IsSuccessful && !(result.Element == null || result.Element.Count() == 0))
        {
            image = result.Element.First();
        }

        if (idUsuario != null && idUsuario != "") count = await countAlquileres(alojamiento.Id);
    }

    private async Task<int> countAlquileres(int idAlojamiento)
    {
        var result = await AlquilerService.GetAlquileresByAlojamiento(idAlojamiento);

        if (result != null) return result.Count();

        return 0;
    }
}
