@using Shared.DataTransferObjects
@using Client.Services
@inject ImagesService ImagesService


<NavLink href="@($"/detailsAlojamiento/{alojamiento.Id}")"
         style="color: inherit; text-decoration: none;">
    <div class="row mb-4 border rounded p-3">
        <div class="col-md-4">
            <img src="@(image == "" ? "https://img.freepik.com/vector-gratis/dibujo-casa-aislada_23-2147502091.jpg?size=626&ext=jpg" : image)"
                 alt="Imagen del alojamiento" class="img-fluid rounded" />
        </div>
        <div class="col-md-8">
            <h4>@alojamiento.Titulo</h4>
            <hr />
            <p><strong>Fecha de Publicación:</strong> @alojamiento.FechaPublicacion.ToShortDateString()</p>
            <p><strong>Numero de Habitaciones:</strong> @alojamiento.NumeroHabitaciones</p>
            <p><strong>Capacidad de Invitados:</strong> @alojamiento.CapacidadInvitados</p>
            <p><strong>Precio por Noche:</strong> @alojamiento.PrecioNoche €</p>
            <p><strong>Comunidad Autónoma:</strong> @alojamiento.NombreComunidad</p>
            <p><strong>Descripción:</strong> @alojamiento.Descripcion</p>
        </div>
    </div>
</NavLink>

@code {
    [Parameter]
    public AlojamientoDto alojamiento { get; set; } = new AlojamientoDto();
    private string image = "";

    protected override async Task OnInitializedAsync()
    {
        var result = await ImagesService.GetImages("alojamientos", alojamiento.Id.ToString());

        if (result.IsSuccessful && !(result.Element == null || result.Element.Count() == 0))
        {
            image = result.Element.First();
        }
    }
}
