@page "/register"
@using Shared.DataTransferObjects
@using Client.Services
@inject IAuthenticationService AuthenticationService
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Authorization
@attribute [AllowAnonymous]

@if (showErrors)
{
    <div class="alert alert-danger" role="alert">
        @foreach (var error in errors!)
        {
            <p>@error</p>
        }
    </div>
}

<div class="card">
    <div class="card-body">
        <h3 class="card-title">Crear una cuenta</h3>
        <EditForm Model="registerModel" OnValidSubmit="HandleRegistration">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group mb-3">
                <label for="nombreCompleto">Nombre a mostrar</label>
                <InputText id="nombreCompleto" class="form-control" @bind-Value="registerModel.FullName" />
                <ValidationMessage For="@(() => registerModel.FullName)" />
            </div>
            <div class="form-group mb-3">
                <label for="email">Correo electrónico</label>
                <InputText id="email" class="form-control" @bind-Value="registerModel.Email" />
                <ValidationMessage For="@(() => registerModel.Email)" />
            </div>
            <div class="form-group mb-3">
                <label for="password">Contraseña</label>
                <InputText id="password" type="password" class="form-control" @bind-Value="registerModel.Password" />
                <ValidationMessage For="@(() => registerModel.Password)" />
            </div>
            <div class="form-group mb-3">
                <label for="confirmPassword">Confirmar contraseña</label>
                <InputText id="confirmPassword" type="password" class="form-control" @bind-Value="registerModel.ConfirmPassword" />
                <ValidationMessage For="@(() => registerModel.ConfirmPassword)" />
            </div>
            <hr />
            <div class="d-flex justify-content-between">
                <span class="align-self-center"><a href="/login">¿Ya tienes una cuenta?</a></span>
                <button type="submit" class="btn btn-outline-primary">Continuar</button>
            </div>
        </EditForm>
    </div>
</div>

@code {
    private UserForRegistrationDto registerModel = new UserForRegistrationDto();
    private bool showErrors;
    private IEnumerable<string>? errors;

    private async Task HandleRegistration()
    {
        showErrors = false;

        var result = await AuthenticationService.Register(registerModel);

        if (result.IsSuccessfulRegistration) NavigationManager.NavigateTo("/login");

        errors = result.Errors;
        showErrors = true;
    }
}
